
body{
    font-family: sans-serif;
}

header{
    background-image: url(https://github.com/Coupenotte69/portfolioo/assets/124738108/8f89f55e-19f5-426a-a43c-87edacc37213);
    background-size: cover;
}

body{
    background-image: url(https://github.com/Coupenotte69/portfolioo/assets/124738108/8f89f55e-19f5-426a-a43c-87edacc37213);
    background-size: cover;
    margin-left: 100px;
    margin-right: 100px;
}

.navbar{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbar a{
    color: white;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li.active a{
    color: black;
}

.navbar .menu{
    width: 35px;
    position: absolute;
    top: 50px;
    right: 20px;
}

p{
    color: white;
}

h1{
    color: white;
}

h3{
    color: white;
    text-indent: 20px;
}

.lien{
    color:rgb(170, 170, 170);
}

.imgcontact{
    position: absolute;
    left: 800px;
    top: 250px;
}

ul{
    font-family: "Chivo Mono", monospace;
    display : flex
}

ul li{
    list-style: none;
}

ul li a{
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    transition: 0.5s ease;
}

ul:hover li a{
    color: #30a6f4;
}

ul:hover li a:not(:hover){
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}

.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cvtxtright{    
    float: left;
    margin-left: 100px;
}

.cvtxtdown{    
    float:initial;
    margin-bottom: 75px;
    margin-left: 847px;
}
  
.image-container {
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
}
  
.imgcote{
    width: 80%;
    max-width: 100%;
    height: auto;
}

.image-wrapper {
    position: relative;
    text-align: center;
}

.image-wrapper2 {
    position: relative;
    padding-left: 150px;
    padding-right: 150px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
.image-wrapper:hover .overlay {
    opacity: 1;
}

.image-wrapper2:hover .overlay {
    opacity: 1;
}
  
.overlay p {
    text-align: center;
    margin: 0;
}

.imgsite2 {
    height: 100%;
    width: 100%;
}
